
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
h2 {
  display: block;
  font-size: 1.3em;
  margin-top: 0.1em;

  margin-left: 0;
  margin-right: 0;
  color: black;
}

h4 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  color: white;
}

h5 {
  display: block;
  font-size: 0.9em;
  margin-top: 0.1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  color: white;
}

button {
  border: none;
  color: white;
  text-align: center;
  width: 20em;  
  height: 8vh;
  font-size: 1em;
  margin: 0.5vh 0.2vh;
  cursor: pointer;
}


.Img-logo {
  width: 20vh;  
  height: 20vh;  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

